@mixin tablet {
    @media screen and (max-width: 1024px) { @content; }
  }

@mixin phone {
    @media screen and (max-width: 768px) { @content; }
  }

@mixin miniphone {
    @media screen and (max-width: 650px) { @content; }
  }
$first-color: #f5f5f5;

$secondary-color: #d3d2d2;

$tertiary-color: #907168;

$caption-color: #736e879c;

$nav-color: #f5f5f5;

$content-color: #907168;

$text-font: 'Work Sans', sans-serif;

$title-font: 'Tangerine', cursive;

*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    background-color: $secondary-color;
    font-family: $text-font;
}
.header{
    width:100%;
}

a{
    color:black;
    /* &:hover{
        color:teal;
    } */
}

nav{
    display: flex;
    //width: 41vw;
    width: 100%;
    justify-content: space-around;
    background-color: $nav-color;
    padding:1.5rem;
    margin-bottom:3rem;
    align-items: center;
    border:1px solid rgba(25,25,25,.4);
    button{
        width:10rem;
        background-color: $nav-color;
        border:none;
        font-size:2rem;
        border-radius: 3rem;
        transition-property: color background-color;
        transition-duration: 0.2s;
        cursor: pointer;
/*         &:hover{
            color:white;
        } */
        /* &:not(:last-child){
            @include miniphone{
                border-right: 1px solid black;
                border-radius: 0;
            }
        } */
    }
    @include phone{
        width: 100%;
    }
}

.about{
    //margin-left: 2rem;
    padding: 0 1rem 0 1rem ;
    border:1px solid rgba(25,25,25,.4);
    border-radius: 0.5rem;
    background-color: $first-color;
    align-items: center;
    flex-basis:30%;
    //min-height: 95vh;
    max-height: fit-content;
    @include phone{
        width: 80%;
    }
    h1{
        text-transform: uppercase;
        text-align: center;
    }
    a{
        text-decoration:none;
    }
    div{
        margin-bottom: 1.5rem;
        i{
            margin-right: 0.5rem;
        }
        a{
            color: #6e6e6e;
            transition: color 0.2s , background-color 0.2s;
            display: flex;
            align-items: center;
            &:hover{
                color: black;
                border-radius: 0.5rem;
            }
        }
    }
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.spaced{
    justify-content: space-between;
}

.mainDiv{
    justify-content: flex-start;
    @include phone{
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}

.flexFix{
    min-width: 70%;
    @include phone{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#ajax{
    justify-content: left;
    flex-wrap:wrap;
    max-width: 1200px;
    //max-width: 55vw;
    padding-left: 5rem;
    @include phone{
        padding-left: 0rem;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
    }
    @include phone{
        max-width: 90vw;
    }
}

.creationFix{
    width:100%;
    //margin-left: 2%;
    height: 100%;
    flex-wrap:wrap;
    @include phone{
        height: auto;
    }
    @include miniphone{
        justify-content: space-evenly;
    }
}

.test{
    flex-basis: 22%;
    height:25rem;
    margin-bottom: 3rem;
    margin-right: 1.5%;
    margin-left: 1.5%;
    @include tablet{
        flex-basis: 30%;
        margin-right: 1.66%;
        margin-left: 1.66%;
    }
    @include miniphone{
        flex-basis: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}

.link{
    height:100%;
    width:100%;
    background-color: $secondary-color;
    padding-left: 0;
    border:none;
    cursor:pointer;
}

.creation{
    border: 2px solid #351801;
    //border-left: 5px solid #1d0d00; 
    //border-radius:2% 0 0 2% ;
    background-color: $tertiary-color;
    padding:1rem;
    align-items: center;
    height:100%;
    width:100%;
    position:relative;
    box-shadow: 4px 3px 2px rgb(44, 44, 44) ;
    transition: box-shadow 0.1s;
    &:hover{
        box-shadow: 9px 7px 4px rgb(44, 44, 44) ;
        .caption{
            display: inline;
        }
    }
    p{
        margin:1rem;
    }
    .caption{
        display:none;
        position: absolute;
        bottom: 0;
        background-color: $caption-color;
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        @include tablet{
            display: inline;
        }
        @include phone{
            display: inline;
        }
        @include miniphone{
            max-height: 40%;
        }
        p{
            font-size:1.3rem;
            @include miniphone{
                font-size:1.1rem;
            }
        }
    }
    h3{
        //font-weight: normal;
        font-family: $title-font;
        font-size: 3rem;
        @include miniphone{
            font-size: 2.5rem;
        }
    }
}

.storyLine{
    margin-top: 3rem;
    display: block;
    position: relative;
    text-align: center;
    font-size: 28px;
    &:after{
        content:'';
        width: 100%;
        border-bottom: 1px solid black;
        position: absolute;
        left:0;
        top: 50%;
        z-index: 1;
    }
}
/* .storyLine::after{
    
} */

.headerFix{
    flex-basis: 30%;
}

.content{
    background-color: $content-color;
    border: 1px solid black;
    padding:2rem;
    box-shadow: 4px 3px 2px rgb(44, 44, 44) ;
    line-height: 2.2rem;
    width: 100%;
    @include tablet{
        margin-right: 5rem;
    }
    @include phone{
        margin: 0 2rem 3rem 2rem;
    }
}

.creationPic{
    max-width:80%;
    @include miniphone{
        display: none;
    }
}
.left{
    position:absolute;
    bottom: 0;
    left: 0;
}
.right{
    position:absolute;
    bottom: 0;
    right: 0;
}
.center{
    position:absolute;
    bottom: 1rem;
}

.side{
    position: fixed;
    align-items: center;
    right: 1rem;
    background-color: $nav-color;
    border:1px solid rgba(25,25,25,.4);
    #mobileFunc{
        display: block;
        padding:1rem 0 1rem 0;
    }
    @include tablet{
        box-shadow:0 0 5px black;
        border-radius: 40px 0 0 40px;
        flex-direction: column;
        height: auto;
        width: auto;
        top:7.5rem;
        right: 0;
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: black;
    }
    @include miniphone{
        flex-direction: row;
        height: 5.5rem;
    }
    >*{
        //margin:1rem 0 1rem 0;
        @include miniphone{
            margin: 0 0.5rem 0 0.5rem;
            width: 100%;
        }
    }
    a{
        text-decoration: none;
        color:black;
        transition-property: background-color;
        transition-duration: 0.3s;
        &:first-child{
            width: 9.5rem;
            padding: 2px 0 2px 0;
            @include tablet{
                width: 6rem;
            }
            @include phone{
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
        &:not(:first-child){
            &:hover{
                //color:white;
                background-color: #afafaf;
            }
            @include tablet{
                display: none;
                &:hover{
                    background-color: #afafaf00;
                }
            }
            @include miniphone{
                margin: 0 1rem 0 1rem;
            }
        }
        &:not(:last-child) &:not(:first-child){
            @include miniphone{
                border-right: 1px solid black;
                padding-right: 1rem;
            }
        }
        &:visited{
            color:black;
        }

    }
    .langLink{
        width: 100%;
        padding: 1rem 5%;
        text-align: center;
        @include tablet{
            -webkit-tap-highlight-color: transparent;
        }
    }
    #faArrow{
        padding: 0 1rem;
    }
}
.grayed{
    background-color: black;
    transition-property: background-color;
    transition-duration: 0.4s;
}